/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/hidden';
@import './utils/mixin';
@import './base/container';
@import './base/reset';
@import './base/section';
@import './utils/variables';
@import './layout/heder';
@import './layout/hero';
@import './layout/product';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer-review';
@import './layout/contacts';
@import './layout/footer';
