@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

body {
  font-family: 'DM Sans', cursive;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Section */
.section {
  padding-top: 120px;
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 125px;
    padding-bottom: 120px;
  }
}

.section__title {
  color: #d41443;
  font-family: 'Titan One', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.13793;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.14583;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 1.13793;
    letter-spacing: 0.06em;
  }
}

.header {
  background-color: #ffb8ca;
}

.container--header {
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .container--header {
    padding-left: 46px;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 35px;
}

.site-nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: 0.04em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #d41443;
}

.header__btn {
  display: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: inline-block;
  }
}

.header__btn:hover, .header__btn:focus {
  background-color: #ecebeb;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

.header-btn {
  width: 209px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: 0.04em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #d41443;
}

.header-btn__icon {
  display: inline-block;
  margin-left: 12px;
}

.menu-container__btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  z-index: 999;
  background-color: #e17992;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 254px;
  }
}

.menu-container .menu-button {
  position: absolute;
  top: 23px;
  right: 28px;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__item {
  width: 100%;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .menu__item {
    padding-left: 24px;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.current {
  color: #d41443;
}

.hero {
  background-color: #ffb8ca;
}

.hero__container {
  position: relative;
  min-width: 320px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.hero-title__wrapper {
  position: relative;
  min-width: 218px;
  margin-top: 193px;
  margin-bottom: 160px;
}

@media screen and (min-width: 768px) {
  .hero-title__wrapper {
    margin-top: 102px;
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title__wrapper {
    margin-top: 171px;
    margin-bottom: 112px;
  }
}

.hero__big-eco {
  position: absolute;
  bottom: 28px;
}

.hero__ellipse {
  position: absolute;
  top: 83px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .hero__ellipse {
    top: 31px;
    right: 137px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__ellipse {
    top: 52px;
    right: 267px;
  }
}

.hero__ice-cream {
  position: absolute;
  bottom: 0;
  right: 32px;
}

@media screen and (min-width: 768px) {
  .hero__ice-cream {
    right: 247px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__ice-cream {
    right: 450px;
  }
}

.hero__cafes {
  position: absolute;
  right: 34px;
  top: 94px;
}

@media screen and (min-width: 1280px) {
  .hero__cafes {
    right: 97px;
  }
}

.hero__food-trucks {
  position: absolute;
  right: 34px;
  top: 151px;
}

@media screen and (min-width: 1280px) {
  .hero__food-trucks {
    right: 97px;
  }
}

.hero__so-tasty {
  position: absolute;
  right: 34px;
  bottom: 0;
}

@media screen and (min-width: 1280px) {
  .hero__so-tasty {
    right: 109px;
  }
}

@media screen and (max-width: 767px) {
  .hero__big-eco {
    display: none;
  }
  .hero__cafes {
    display: none;
  }
  .hero__food-trucks {
    display: none;
  }
  .hero__so-tasty {
    display: none;
  }
  .hero-text__wrapper {
    display: none;
  }
}

.hero__title {
  position: relative;
  z-index: 1;
  color: #ffffff;
  margin-bottom: 19px;
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15385;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.13636;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.15789;
    letter-spacing: 0.04em;
  }
}

.hero__title--mod {
  color: #d41443;
  font-size: 48px;
}

@media screen and (min-width: 768px) {
  .hero__title--mod {
    font-weight: 400;
    font-size: 34px;
    line-height: 0.91176;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title--mod {
    font-weight: 400;
    font-size: 58px;
    line-height: 0.89655;
    letter-spacing: 0.04em;
  }
}

.hero-btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-btn {
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #d41342;
  cursor: pointer;
  padding: 7px 15px;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-btn:not(:last-child) {
  margin-right: 8px;
}

.hero-btn:hover, .hero-btn:focus {
  background-color: #c7133e;
}

@media screen and (min-width: 1280px) {
  .hero-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: 0.04em;
  }
}

.hero-btn__alt {
  color: #d41443;
  background-color: #ffffff;
}

.hero-btn__alt:hover, .hero-btn__alt:focus {
  background-color: #ecebeb;
}

.hero-text__wrapper {
  width: 114px;
  margin-bottom: 4px;
  margin-left: 120px;
}

@media screen and (min-width: 1280px) {
  .hero-text__wrapper {
    width: 200px;
    margin-left: 218px;
  }
}

.hero-text {
  margin-bottom: 7px;
  color: #ffffff;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 1280px) {
  .hero-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: 0.04em;
  }
}

.hero-btn__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: unset;
  padding: 0;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.contacts ul {
  list-style: none;
}

.contacts span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.04em;
  font-style: normal;
  display: inline-block;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-card {
  max-width: 220px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
}

.contact-card:not(:last-child) {
  margin-bottom: 20px;
}

.contact-card__city,
.contact-card__schedule-list {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}

.contact-card__city-name,
.contact-card__schedule-day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.04em;
}

.contact-card__link,
.contact-card__description {
  color: #907E82;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0;
  text-decoration: none;
}

.contact-card__mark {
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F0D1A5;
  border-radius: 4px;
  padding-left: 25px;
  padding-right: 25px;
}

.contact-card__city-name {
  color: #000;
  margin-bottom: 10px;
}

.contact-card__schedule-item:not(:last-child) {
  margin-bottom: 10px;
}

.contact-card__schedule-time {
  color: #FFA5BA;
}

.contact-card__communication-list {
  margin-top: 25px;
}

.contact-card__mark--olive-and-padding28 {
  background: #C2E297;
  padding-left: 28px;
  padding-right: 28px;
}

.contacts__btn-wrapper {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__btn-wrapper li:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__btn {
  color: #ffffff;
  border: none;
  border-radius: 22px;
  background-color: #d41342;
  cursor: pointer;
  width: 161px;
  height: 44px;
  font-family: DM Sans, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: 0;
}

.contacts__btn:hover, .contacts__btn:focus {
  background-color: #c7133e;
}

.contacts__btn-icon {
  background-color: #fff;
  margin-left: 11px;
}

.contacts__btn-icon--inverse-color {
  background-color: #d41342;
}

.contacts__btn--inverse-color {
  color: #d41342;
  background-color: #e09797;
}

.foter__container {
  background-color: #fff5f6;
}
/*# sourceMappingURL=main.css.map */