$accent-first-color: #d41443;
$accent-second-color: #ffa5ba;
$primary-text-color: #000000;
$secondary-text-color: #907e82;
$main-color: #ffffff;
$first-background-color: #ffb8ca;
$second-background-color: #c2e297;
$third-background-color: #f0d1a5;
$sections-background-color: #fff5f6;
$comments-background-color: #fafafa;
$menu-background-color: #e17992;
$icon-home-color: #d31342;
$button-color: #d41342;
$button-hover-first-color: #c7133e;
$button-hover-second-color: #ecebeb;
$line-color: #e1e1e1;
$icon-ellipse: #d9d9d9;
$menu-border-color: #e18298;
