<!----------------- About -------------------->
<section class="section">
  <div class="container container-about">
    <p class="about_pre-text">tradition and love</p>
    <h2 class="about_title">how it’s made?</h2>
    <picture>
      <source
        srcset="./images/about/about-desk1x.png 1x, ./images/about/about-desk@2x.png 2x"
        media="(min-width:1200px)"
        type="image/png"
      />
      <source
        srcset="./images/about/about-tab1x.png 1x, ./images/about/about-tab@2x.png 2x"
        media="(min-width:768px)"
        type="image/png"
      />
      <source
        srcset="./images/about/about-mob1x.png 1x, ./images/about/about-mob@2x.png 2x"
        media="(min-width:320px)"
        type="image/png"
      />
      <img src="./images/about/about-mob1x.png" alt="spilled milk" width="280" height="279" />
    </picture>

    <p class="about_onetext">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about_secondtext">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt.
      <br />
      <br />
      Aliquam erat volutpat. Aenean accumsan.
    </p>
    <button type="button" class="about__button button">
      Read more
      <svg class="about__icon" width="4.43" height="8">
        <use href="./images/about/arrow.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
