<!----------------- About -------------------->
<section class="section about" id="how">
  <div class="container container-about">
    <p class="about__pre-text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__wrap">
      <img
        srcset="
          ./images/about/about-mob1x-280.png     280w,
          ./images/about/about-mob@2x-560.png    560w,
          ./images/about/about-tab1x-340.png     340w,
          ./images/about/about-tab@2x-680.png    680w,
          ./images/about/about-desk1x-516.png    516w,
          ./images/about/about-desk@2x-1032.png 1032w
        "
        sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, 100vw"
        src="./images/about/about-mob1x-280.png"
        alt="milk and cow"
      />

      <!-- <picture>
        <source
          srcset="./images/about/about-desk1x.png 1x, ./images/about/about-desk@2x.png 2x"
          media="(min-width:1280px)"
          type="image/png"
        />
        <source
          srcset="./images/about/about-tab1x.png 1x, ./images/about/about-tab@2x.png 2x"
          media="(min-width:768px)"
          type="image/png"
        />
        <source
          srcset="./images/about/about-mob1x.png 1x, ./images/about/about-mob@2x.png 2x"
          media="(min-width:480px)"
          type="image/png"
        />
        <img src="./images/about/about-mob1x.png" alt="spilled milk" width="280" height="279" />
      </picture> -->
      <div class="about__text">
        <p class="about__onetext">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__secondtext">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__button button">
          Read more
          <svg class="about__icon" width="4.43" height="8">
            <use href="./images/about/arrow.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
