<!----------------- Contacts -------------------->
<section class="contacts">
    <div class="container">
        <ul class="contacts-list">
            <li class="contact-card">
                <span class="contact-card__mark">cafe</span>
                <div class="contact-card__city">
                    <p class="contact-card__city-name">Chicago</p>
                    <p class="contact-card__description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                </div>
                <ul class="contact-card__schedule-list">
                    <li class="contact-card__schedule-item">
                        <span class="contact-card__schedule-day">Monday - Friday</span>
                        <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
                    </li>
                    <li class="contact-card__schedule-item">
                        <span class="contact-card__schedule-day">Saturday - Sunday</span>
                        <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
                    </li>
                </ul> 
                <ul class="contact-card__communication-list">
                                           
                        <li class="contact-card__communication-item">
                            <a href="tel:+610383766284" class="contact-card__link">
                                +61(0) 383 766 284 
                            </a>
                        </li>
                        <li class="contact-card__communication-item">
                            <a href="mailto:noreply@envato.com" class="contact-card__link">
                                noreply@envato.com
                            </a>
                        </li>
                    
                </ul>      
                
            </li>
            <li class="contact-card">
                <span class="contact-card__mark contact-card__mark--olive-and-padding28">FOODTRUCK</span>
                <div class="contact-card__city">
                    <p class="contact-card__city-name">Los Angeles</p>
                    <p class="contact-card__description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                </div>
                <ul class="contact-card__schedule-list">
                    <li class="contact-card__schedule-item">
                        <span class="contact-card__schedule-day">Monday - Friday</span>
                        <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
                    </li>
                    <li class="contact-card__schedule-item">
                        <span class="contact-card__schedule-day">Saturday - Sunday</span>
                        <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
                    </li>
                </ul> 
                <ul class="contact-card__communication-list">
                                           
                        <li class="contact-card__communication-item">
                            <a href="tel:+610383766284" class="contact-card__link">
                                +61(0) 383 766 284 
                            </a>
                        </li>
                        <li class="contact-card__communication-item">
                            <a href="mailto:noreply@envato.com" class="contact-card__link">
                                noreply@envato.com
                            </a>
                        </li>
                    
                </ul>      
                
            </li>
            <li class="contact-card">
                <span class="contact-card__mark">cafe</span>
                <div class="contact-card__city">
                    <p class="contact-card__city-name">New York</p>
                    <p class="contact-card__description">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                </div>
                <ul class="contact-card__schedule-list">
                    <li class="contact-card__schedule-item">
                        <span class="contact-card__schedule-day">Monday - Friday</span>
                        <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
                    </li>
                    <li class="contact-card__schedule-item">
                        <span class="contact-card__schedule-day">Saturday - Sunday</span>
                        <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
                    </li>
                </ul> 
                <ul class="contact-card__communication-list">
                                           
                        <li class="contact-card__communication-item">
                            <a href="tel:+610383766284" class="contact-card__link">
                                +61(0) 383 766 284 
                            </a>
                        </li>
                        <li class="contact-card__communication-item">
                            <a href="mailto:noreply@envato.com" class="contact-card__link">
                                noreply@envato.com
                            </a>
                        </li>
                    
                </ul>      
                
            </li>
        </ul>
        <ul class="contacts__btn-wrapper">
            <li>
                <button class="contacts__btn" type="button">
                    Our Locations
                    <!-- <svg class="contacts__btn-icon" width="6" height="10">
                        <use href="./src/images/sprite.svg#icon-Vector-1-1"></use>
                    </svg> -->
                    <span class="contacts__btn-icon" style="width: 6px; height: 10px;"></span>
                </button>
            </li>
            <li>
                <button class="contacts__btn contacts__btn--inverse-color" type="button">
                    Franchise
                    <span class="contacts__btn-icon contacts__btn-icon--inverse-color" style="width: 6px; height: 10px;"></span>
                     <!-- <svg class="contacts__btn-icon" width="6" height="10">
                        <use href="./src/images/sprite.svg#icon-Vector-1-1"></use>
                    </svg> -->
                </button>
            </li>
        </ul>
        
    </div>
</section>
