<!----------------- Contacts -------------------->
<section class="contacts">
 
  <div class="container">
    <h2>Our Contacts</h2>
    <div class="modal-overlay">

      <div class="modal-maps">
        <button id="contactsMapsCloseBtn" class="contacts__close-btn">Close</button>
        <p class="contacts__modal-title">You can find us here.</p>
        <ul class="modal-maps__content">
          <li class="modal-maps__content-item active" data-contactsmodalcontent="1">
            <iframe
              src="https://maps.google.com/maps?q=5306%20N%20Clark%20St,%20Chicago,%20IL%2060640,%20%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%A8%D1%82%D0%B0%D1%82%D1%8B&t=&z=19&ie=UTF8&iwloc=&output=embed"
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          </li>
          <li class="modal-maps__content-item" data-contactsmodalcontent="2">
            <iframe
              src="https://maps.google.com/maps?q=4234%20W%20Pico%20Blvd,%20Los%20Angeles,%20CA%2090019,%20%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%A8%D1%82%D0%B0%D1%82%D1%8B&t=&z=19&ie=UTF8&iwloc=&output=embed"
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </li>
          <li class="modal-maps__content-item" data-contactsmodalcontent="3">
            <iframe
              src="https://maps.google.com/maps?q=48%201/2%20E%207th%20St,%20New%20York,%20NY%2010003,%20%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%A8%D1%82%D0%B0%D1%82%D1%8B&t=&z=19&ie=UTF8&iwloc=&output=embed"
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </li>
        </ul>
        <div id="contactsModalBbtnWrapper" class="contacts__tabs-wrapper">
          <button class="contacts__modal-btn contacts__btn active" data-contactsmodalbtn="1">Chicago</button>
          <button class="contacts__modal-btn contacts__btn" data-contactsmodalbtn="2">Los Angeles</button>
          <button class="contacts__modal-btn contacts__btn" data-contactsmodalbtn="3">New York</button>
        </div>
      </div>
      <div class="modal-franchise">
        <button id="contactsFranchiseCloseBtn" class="contacts__close-btn">Close</button>
        <p class="contacts__modal-title">You can find our ice cream in other shops.</p>
        <div class="modal-franchise__content">
          <ul class="slider-wrapper">
            <li class="slide active">
              <img
                src="https://images.unsplash.com/photo-1564801629778-eabf6ed7d440?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80"
                style="width: 100%; height: 100%;" alt="ice-cream-shop">
            </li>
            <li class="slide">
              <img
                src="https://images.unsplash.com/photo-1525451167239-264fb77ad20f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80"
                style="width: 100%; height: 100%;" alt="ice-cream-shop">
            </li>
            <li class="slide">
              <img
                src="https://images.unsplash.com/photo-1620124452520-0d9be56b29ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1473&q=80"
                style="width: 100%; height: 100%;" alt="ice-cream-shop">
            </li>

          </ul>
          <button type="button" id="btn-prev"></button>
          <button type="button" id="btn-next"></button>
        </div>
        <div class="dots-wrapper">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>
    
    <ul class="contacts-list">
      <li class="contact-card">
        <span class="contact-card__mark">cafe</span>
        <div class="contact-card__city">
          <p class="contact-card__city-name">Chicago</p>
          <p class="contact-card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contact-card__schedule-list">
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Monday - Friday</p>
            <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Saturday - Sunday</p>
            <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="contact-card__communication-list">
          <li class="contact-card__communication-item">
            <a href="tel:+610383766284" class="contact-card__link"> +61(0) 383 766 284 </a>
          </li>
          <li class="contact-card__communication-item">
            <a href="mailto:noreply@envato.com" class="contact-card__link"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
      <li class="contact-card">
        <span class="contact-card__mark contact-card__mark--olive-and-padding28">FOODTRUCK</span>
        <div class="contact-card__city">
          <p class="contact-card__city-name">Los Angeles</p>
          <p class="contact-card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contact-card__schedule-list">
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Monday - Friday</p>
            <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Saturday - Sunday</p>
            <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="contact-card__communication-list">
          <li class="contact-card__communication-item">
            <a href="tel:+610383766284" class="contact-card__link"> +61(0) 383 766 284 </a>
          </li>
          <li class="contact-card__communication-item">
            <a href="mailto:noreply@envato.com" class="contact-card__link"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
      <li class="contact-card">
        <span class="contact-card__mark">cafe</span>
        <div class="contact-card__city">
          <p class="contact-card__city-name">New York</p>
          <p class="contact-card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contact-card__schedule-list">
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Monday - Friday</p>
            <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Saturday - Sunday</p>
            <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="contact-card__communication-list">
          <li class="contact-card__communication-item">
            <a href="tel:+610383766284" class="contact-card__link"> +61(0) 383 766 284 </a>
          </li>
          <li class="contact-card__communication-item">
            <a href="mailto:noreply@envato.com" class="contact-card__link"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn-wrapper">
      <li>
        <button id="location-btn" class="contacts__btn" type="button">
          Our Locations
          <svg class="contacts__btn-icon" width="9" height="12">
            <use href="../src/images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li>
        <button id="franchise-btn" class="contacts__btn" type="button">
          Franchise
          <svg class="contacts__btn-icon" width="9" height="12">
            <use href="../src/images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>