<!----------------- Contacts -------------------->
<section class="contacts">
  <div class="container">
    <h2>Our Contacts</h2>
    <!-- <div class="modal-overlay">
            <div class="modal-maps">
                <ul class="content">
                    <li></li>
                </ul>
                <div class="tabs">
                    <button class="contacts__modal-btn contacts__btn">Chicago</button>
                    <button class="contacts__modal-btn contacts__btn">Los Angeles</button>
                    <button class="contacts__modal-btn contacts__btn">New York</button>
                </div>
            </div>
        </div> -->
    <ul class="contacts-list">
      <li class="contact-card">
        <span class="contact-card__mark">cafe</span>
        <div class="contact-card__city">
          <p class="contact-card__city-name">Chicago</p>
          <p class="contact-card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contact-card__schedule-list">
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Monday - Friday</p>
            <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Saturday - Sunday</p>
            <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="contact-card__communication-list">
          <li class="contact-card__communication-item">
            <a href="tel:+610383766284" class="contact-card__link"> +61(0) 383 766 284 </a>
          </li>
          <li class="contact-card__communication-item">
            <a href="mailto:noreply@envato.com" class="contact-card__link"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
      <li class="contact-card">
        <span class="contact-card__mark contact-card__mark--olive-and-padding28">FOODTRUCK</span>
        <div class="contact-card__city">
          <p class="contact-card__city-name">Los Angeles</p>
          <p class="contact-card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contact-card__schedule-list">
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Monday - Friday</p>
            <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Saturday - Sunday</p>
            <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="contact-card__communication-list">
          <li class="contact-card__communication-item">
            <a href="tel:+610383766284" class="contact-card__link"> +61(0) 383 766 284 </a>
          </li>
          <li class="contact-card__communication-item">
            <a href="mailto:noreply@envato.com" class="contact-card__link"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
      <li class="contact-card">
        <span class="contact-card__mark">cafe</span>
        <div class="contact-card__city">
          <p class="contact-card__city-name">New York</p>
          <p class="contact-card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contact-card__schedule-list">
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Monday - Friday</p>
            <span class="contact-card__schedule-time">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact-card__schedule-item">
            <p class="contact-card__schedule-day">Saturday - Sunday</p>
            <span class="contact-card__schedule-time">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="contact-card__communication-list">
          <li class="contact-card__communication-item">
            <a href="tel:+610383766284" class="contact-card__link"> +61(0) 383 766 284 </a>
          </li>
          <li class="contact-card__communication-item">
            <a href="mailto:noreply@envato.com" class="contact-card__link"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn-wrapper">
      <li>
        <button class="contacts__btn" type="button">
          Our Locations
          <svg class="contacts__btn-icon" width="9" height="12">
            <use href="../src/images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="contacts__btn" type="button">
          Franchise
          <svg class="contacts__btn-icon" width="9" height="12">
            <use href="../src/images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
