<!----------------- Gallery -------------------->
<section class="gallery">
    <div>
        <h2 class="hidden-title">Gallery</h2>
        <picture>
            <source srcset="./images/gallery/gallery-desk.jpg 1x, ./images/gallery/gallery-desk-2x.jpg 2x"
                media="(min-width:1280px)" />
            <source srcset="./images/gallery/gallery-tablet.jpg 1x, ./images/gallery/gallery-tablet-2x.jpg 2x"
                media="(min-width:768px)" />
            <source srcset="./images/gallery/gallery-mob.jpg 1x, ./images/gallery/gallery-mob-2x.jpg 2x"
                media="(min-width:480px)" />
            <img src="./images/gallery/gallery-desk.jpg" class="gallery__example-img" alt="Types of IceCream" width="100%">
        </picture>
    </div>
</section>