<!----------------- Gallery -------------------->
<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="hidden-title">Gallery</h2>
    <picture>
      <source
        srcset="./images/gallery/gallery-desk-v2.png 1x, ./images/gallery/gallery-desk-2x.png 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/gallery/gallery-tablet.png 1x, ./images/gallery/gallery-tablet-2x.png 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/gallery/gallery-mob.png 1x, ./images/gallery/gallery-mob-2x.png 2x"
        media="(min-width:320px)"
      />
      <img
        src="./images/gallery/gallery-desk-v2.png"
        class="gallery__example-img"
        alt="Types of IceCream"
        width="100%"
      />
    </picture>
    <!-- <div class="masonry">
      <div class="item">
        <img src="./images/gallery/image_9.jpg" alt="IceCream">
      </div>
        <div class="item">
          <img src="./images/gallery/image_10.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_1.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_2.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_3.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_4.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_5.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_6.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_7.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_8.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_11.jpg" alt="IceCream">
      </div>
      <div class="item">
        <img src="./images/gallery/image_12.jpg" alt="IceCream">
      </div> -->
  </div>
</section>
