<!----------------- Hero -------------------->
<section class="hero">
    <div class="container hero__container">
        <picture>
            <source 
                srcset="./images/hero/tablet/big-eco-1x.png 1x,
                        ./images/hero/tablet/big-eco-2x.png 2x"
            >

            <img 
                class="hero__big-eco"
                src="./images/hero/tablet/big-eco-1x.png" 
                alt="big eco"
            >
        </picture>
        <picture>
            <source 
                srcset="./images/hero/tablet/ellipse-tablet-1x.png 1x,
                        ./images/hero/tablet/ellipse-tablet-2x.png 2x"
                media="(min-width: 768px)"
            >
            <source 
                srcset="./images/hero/mobile/ellipse-1x.png 1x,
                        ./images/hero/mobile/ellipse-2x.png 2x" 
            >

            <img 
                class="hero__ellipse" 
                src="./images/hero/mobile/ellipse-1x.png" 
                alt="ellipse"
            >
        </picture>

        <picture>
            <source 
                srcset="./images/hero/tablet/ice-cream-tablet-1x.png 1x,
                        ./images/hero/tablet/ice-cream-tablet-2x.png 2x"
                media="(min-width: 768px)"
            >
            <source srcset="./images/hero/mobile/ice-cream-1x.png 1x,
                            ./images/hero/mobile/ice-cream-2x.png 2x"
            >

            <img 
                class="hero__ice-cream" 
                src="./images/hero/mobile/ice-cream-1x.png" 
                alt="ice-cream"
            >
        </picture>
        <picture>
            <source 
                srcset="./images/hero/tablet/cafes-16-1x.png 1x,
                        ./images/hero/tablet/cafes-16-2x.png 2x"
            >

            <img 
                class="hero__cafes"
                src="./images/hero/tablet/cafes-16-1x.png" 
                alt="cafes"
            >
        </picture>
        <picture>
            <source 
                srcset="./images/hero/tablet/food-trucks-23-1x.png 1x,
                        ./images/hero/tablet/food-trucks-23-2x.png 2x"
            >
        
            <img 
                class="hero__food-trucks"
                src="./images/hero/tablet/food-trucks-23-1x.png"
                alt="food trucks">
        </picture>
        <picture>
            <source 
                srcset="./images/hero/tablet/so-tasty-1x.png 1x,
                        ./images/hero/tablet/so-tasty-2x.png 2x"
            >

            <img 
                class="hero__so-tasty"
                src="./images/hero/tablet/so-tasty-1x.png" 
                alt="so tasty"
            >
        </picture>
        <div class="hero-title__wrapper">
           
            <h1 class="hero__title">
                ice cream <br>
                made with <br>
                <span class="hero__title--mod">passion</span>
            </h1>
            <div class="hero-btn__wrapper">
                <button class="hero-btn">Products</button>
                <button class="hero-btn hero-btn__alt">How it's made?</button>
            </div>
        </div>
        <div>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et
            </p>
        </div>
    </div>
</section>