<!-- МОДАЛЬНОЕ ОКНО -->
<div class="backdrop-video is-hidden" data-howitsmodal>
  <div class="about-video">
    <button class="about-video__button-close" data-howitsmodal-close>X</button>
    <h2 class="about-video__header">how it’s made?</h2>
    <div class="about-video__wrap">
      <!-- <video></video> -->
      <iframe
        src="https://www.youtube.com/embed/RUyCfo_FRZM?start=9"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="about-video-player"
      ></iframe>
    </div>
  </div>
</div>
