<!----------------- Products -------------------->
  <section class="products">
        <div class="products__container container">
            <p class="products__text">100% natural</p>
            <h2 class="products__titel">products</h2>
            <ul class="products__list">
                <li class="products__item products__item--icecream">
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <p class="products__discription--tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.  </p>
                    <div class="meunu" data-menu><p class="icecream__overlay is-hidden">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <button class="products__button" type="button" data-menu-open>
                        
                    </button>
                </li>
                <li class="products__item products__item--icecoffe">
                    <h3 class="products__name">ice coffee</h3>
                    <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <p class="products__discription--tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.  </p>
                    <div class="meunu" data-menu"><p class="icecoffe__overlay  is-hidden">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <button class="products__button" type="button" data-menu-open>
                        
                    </button>
                </li>
                <li class="products__item products__item--blackcoffe">
                    <h3 class="products__name">ice coffee</h3>
                    <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <p class="products__discription--tab is-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.  </p>
                    <div class="meunu" data-menu"><p class="blackcoffe__overlay is-hidden">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <button class="products__button" type="button" data-menu-open>
                        
                    </button>
                </li>
            </ul>
        </div>
    </section>
