<!----------------- Products -------------------->
  <section class="products">
        <div class="products__container container">
            <p class="products__text">100% natural</p>
            <h2 class="products__titel">products</h2>
            <ul class="products__list">
                <li class="products__item products__item--icecream">
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__button" type="button" data-menu-open>
                        
                    </button>
                </li>
                <li class="products__item products__item--icecoffe">
                    <h3 class="products__name">ice coffee</h3>
                    <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__button" type="button" data-menu-open>
                        
                    </button>
                </li>
                <li class="products__item products__item--blackcoffe">
                    <h3 class="products__name">ice coffee</h3>
                    <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__button" type="button" data-menu-open>
                        
                    </button>
                </li>
            </ul>
        </div>
    </section>
