.about {
  background-color: $sections-background-color;
  padding-bottom: 0;
  padding-top: 125px;
  background-color: $sections-background-color;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 767px) {
    background-image: url('/images/about/about-bg-mob1x.png');
    background-position: right 0px bottom 62px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/about/about-bg-mob@2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url('/images/about/about-bg-desk1x.png');
    background-position: left 0px bottom -65px;
    background-size: 100vw auto;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/about/about-bg-desk@2x.png');
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 0;
  }
}
.container-about {
  // padding-top: 125px;
}
.about__pre-text {
  font-family: Titan One;
  font-style: normal;
  @include font($fw: 400, $fs: 18px, $lh: 21px);
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    @include font($fw: 400, $fs: 26px, $lh: 30px);
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 400, $fs: 30px, $lh: 34px);
    margin-bottom: 15px;
  }
}

.about__title {
  font-family: Titan One;
  font-style: normal;
  @include font($fw: 400, $fs: 34px, $lh: 39px);
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 36px;
  @media screen and (min-width: 768px) {
    @include font($fw: 400, $fs: 48px, $lh: 55px, $ls: 0.04em);
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 400, $fs: 58px, $lh: 66px, $ls: 0.06em);
    margin-bottom: 55px;
  }
}
.about__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
  }
}
.about__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 280px;
  margin-bottom: 36px;

  background-image: url('/images/about/about-mob1x-280.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/about/about-mob@2x-560.png');
  }
  @media screen and (min-width: 768px) {
    min-width: 340px;
    min-height: 340px;
    margin-bottom: 0;

    background-image: url('/images/about/about-tab1x-340.png');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/about/about-tab@2x-680.png');
    }
  }
  @media screen and (min-width: 1280px) {
    min-width: 516px;
    min-height: 516px;
    background-image: url('/images/about/about-desk1x-516.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/about/about-desk@2x-1032.png');
    }
  }
}
.about__text {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  // width: fit-content;
  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
    // margin-top: 36px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    margin-left: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 71px;
  }
}
.about__onetext {
  display: block;
  width: fit-content;
  font-family: DM Sans;
  font-style: normal;
  @include font($fw: 500, $fs: 12px, $lh: 19px);
  color: #000000;
  margin-bottom: 36px;
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fs: 14px, $lh: 25px);
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 500, $fs: 16px, $lh: 28px, $ls: 0.04em);
  }
}

.about__secondtext {
  display: block;
  width: fit-content;
  font-family: DM Sans;
  font-style: normal;
  @include font($fw: 500, $fs: 12px, $lh: 19px);
  color: #907e82;
  @media screen and (max-width: 767px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fs: 14px, $lh: 25px, $ls: 0.04em);
    margin-bottom: 62px;
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 500, $fs: 14px, $lh: 27px, $ls: 0.04em);
    margin-bottom: 45px;
  }
}

.about__button {
  min-width: 176px;
  min-height: 44px;
  font-family: DM Sans;
  font-style: normal;
  @include font($fw: 700, $fs: 14px, $lh: 18px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0;
  border-radius: 22px;
  background-color: $main-color;
  color: $accent-first-color;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $button-hover-first-color;
    background-color: $button-hover-second-color;
  }
  @media screen and (min-width: 768px) {
    @include font($fw: 700, $fs: 16px, $lh: 21px);
  }
}
.about__icon {
  display: flex;
  justify-content: center;
  width: 8px;
  height: 10px;
  margin-left: 14px;
}

/* ------МОДАЛЬНОЕ ОКНО---------- */
/* ---бекдроп видимый----- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  // transition: opacity var(--transition-duration) var(--transition-timing-function);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    & .about-modal {
      transform: scale(0.1);
    }
  }
  transition: opacity 1250ms, visibility 1000ms;
}

// /*----- само модальное окно--- */
.about-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;

  align-items: center;
  height: 600px;
  padding: 15px;
  z-index: 21;
  border-radius: 10px;
  background-color: $sections-background-color;
  background-image: url('/images/about/about-bg-mob1x.png');
  background-position: left 0 bottom 150px;
  background-size: contain;
  background-repeat: no-repeat;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 1250ms, opacity 500ms;
  opacity: 1;
  @media screen and (min-width: 768px) {
    width: 600px;
  }
}

// /* ----КНОПКА ЗАКРЫТЬ---- */
.about-modal__button-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  @media screen and (min-width: 480px) {
    top: 15px;
    right: 15px;

    width: 40px;
    height: 40px;
  }
  border-radius: 50%;
  border: 1px solid $menu-border-color;
  box-sizing: border-box;
  background-color: $button-hover-second-color;
  fill: $accent-first-color;
  cursor: pointer;
  font-family: Titan One;
  font-style: normal;
  @include font($fw: 400, $fs: 18px, $lh: 14px, $ls: 0.04em);
  text-align: center;
  color: $accent-first-color;
}
.about-modal__header {
  font-family: Titan One;
  font-style: normal;
  @include font($fw: 400, $fs: 28px, $lh: 39px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  @media screen and (min-width: 768px) {
    @include font($fw: 400, $fs: 34px, $lh: 39px, $ls: 0.04em);
  }
}
.about-modal__wrap {
  display: flex;
  width: 100%;
  height: auto;

  overflow: auto;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  // @media screen and (min-width: 768px) {
  //   padding-top: 70px;
  // }
}
.about__article {
  width: 100%;
  height: 100%;
  font-family: DM Sans;
  @include font($fw: 500, $fs: 12px, $lh: 19px);
  color: $primary-text-color;
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fs: 14px, $lh: 25px);
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 500, $fs: 16px, $lh: 28px, $ls: 0.04em);
  }
}
.about__img {
  float: left; /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0; /* Отступы вокруг картинки */

  //   display: flex;
  width: 300px;
  height: auto;
  // &:hover .about__audio {
  //   display: flex;
  // }
}
.about__audio {
  // display: none;
  display: flex;
  background-color: $button-hover-second-color;
  width: 200px;
  height: 30px;

  @media screen and (min-width: 768px) {
    width: 300px;
    height: 54px;
  }
}
