.contacts {
  & ul {
    list-style: none;
  }
  & h2 {
    display: none;
  }
  background-image: linear-gradient(#fff 5%, #fff5f6 5%, #fff5f6 95%);
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(#fff 15%, #fff5f6 15%, #fff5f6 85%);
   
  }
  @media screen and (min-width: 1280px) {
    background-image: url('/images/contacts/contacts-background-min.png'), linear-gradient(#fff 0.1%, #fff5f6 0.1%, #fff5f6 99.9%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0 top 100px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/contacts/contacts-background-2x-min.png'), linear-gradient(#fff 0.1%, #fff5f6 0.1%, #fff5f6 99.9%);
    }
  }
  position: relative;
  
}

// обертка
.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media screen and (min-width: 768px) {
    flex-flow: row wrap;
    margin-right: -20px;
    flex-basis: calc((100% - 3 * 20px) / 3);
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-right: -30px;
  }
}
.contact-card {
  margin-bottom: 20px;
  max-width: 220px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  @media screen and (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 0;
    padding: 50px 32px 50px 31px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 30px;
    padding: 51px 43px 62px 43px;
    max-width: 330px;
  }
}

.contact-card__mark {
  text-transform: uppercase;
  color: #ffffff;
  background: #f0d1a5;
  border-radius: 4px;
  padding-left: 25px;
  padding-right: 25px;
  @include font(500, 12px, 22px);
  font-style: normal;
  display: inline-block;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

//  Город
.contact-card__city {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contact-card__city-name {
  color: #000;
  margin-bottom: 10px;
  @include font(500, 12px, 22px);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contact-card__description {
  color: #907e82;
  @include font(500, 12px, 18px, 0);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

// Расписание

.contact-card__schedule-list {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.contact-card__schedule-item {
  & span {
    @include font(500, 12px, 22px);
    font-style: normal;
    display: inline-block;
    color: #ffa5ba;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    & span {
      font-size: 14px;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 1280px) {
    & span {
      font-size: 16px;
    }
  }
}

.contact-card__schedule-day {
  @include font(500, 12px, 22px);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

// Тел и мыло

.contact-card__communication-list {
  padding-top: 25px;
  .contact-card__link {
    color: #907e82;
    @include font(500, 12px, 18px, 0);
    text-decoration: none;
  }
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    & .contact-card__link {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    & .contact-card__link {
      font-size: 16px;
    }
  }
}

// КНопки
.contacts__btn-wrapper {
  & li:not(:last-child) {
    margin-bottom: 10px;
  }
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    & li:not(:last-child) {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    margin-top: 86px;
  }
}
.contacts__btn {
  color: $button-color;
  border: none;
  border-radius: 22px;
  background-color: #fff;
  cursor: pointer;
  width: 161px;
  height: 44px;
  font-family: DM Sans, sans-serif;
  fill: $button-color;
  @include font(bold, 16px, 21px, 0);
  transition: color 0.5s ease, background-color 0.5s ease, fill 0.5s ease;

  &:hover,
  &:focus {
    color: #fff;
    fill: #fff;
    background-color: $button-hover-first-color;
  }
}
.contacts__btn-icon {
    margin-left: 11px;
}

.contact-card__mark--olive-and-padding28 {
    background: #c2e297;
    padding-left: 28px;
    padding-right: 28px;
}
//очень модальные дела
.modal-overlay {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5));
}
.modal-overlay.active {
    opacity: 1;
    z-index: 10;
    pointer-events: inherit;
}
.modal-maps, .modal-franchise {
    max-width: 1000px;
    width: 100%;
    height: 550px;
    background: #fff5f6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }
  .modal-maps.active, .modal-franchise.active {
    opacity: 1;
    pointer-events: inherit;
  }
  .contacts__modal-title {
    font-family: 'Titan One', sans-serif;
    @include font(bold, 36px, 30px, 0);
    text-align: center;
    color: $accent-first-color;
  }
  .modal-maps__content, .modal-franchise__content {
    width: 95%;
    height: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.modal-maps__content-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}
.modal-maps__content-item.active {
    opacity: 1;
    pointer-events: inherit;
 
}
  
  .contacts__tabs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
  }
  .contacts__modal-btn.active{
    background-color:$button-color;
    color: #fff;
    &:hover {
      opacity: 1;
    }
  }
  .contacts__modal-btn {
    background-color: #fff;
    &:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 10px;
    }
    &:hover {
      opacity: 0.5;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-right: 10px;
     
    }
  }
  .contacts__close-btn {
    border: none;
    background-color: #fff;
    color: $button-color;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-103%);
    transition: color 0.5s ease, background-color 0.5s ease ;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: $button-color;
    }
  }

  // Слайдер франшиза


.modal-franchise__content {
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    width: 100%;
    height: 100%;  
}

#btn-prev, #btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: $button-color;
    border: none;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
    opacity: 0.4;
}


#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: $button-color;
    opacity: 1; 
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $button-color;
    opacity: 0.4; 
    margin-right: 10px;
    cursor: pointer;
}
.dot:last-child{
    margin-right: 0;
}