.footer {
  background-color: $sections-background-color;
  padding-top: 113px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 156px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 165px;
  }
}
.footer__container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.footer__title-contacts {
  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer__title {
  flex-wrap: wrap;
  padding-left: 17px;
  padding-bottom: 43px;
  @media screen and (min-width: 320px) and (max-width: 479px) {
    max-width: 234px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 234px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 340px;
    padding-bottom: 91px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 114px;
    padding-bottom: 97px;
  }
}
.footer__title-secondary {
  font-family: Titan One;
  color: $accent-second-color;
  @include font(400, 18px, 21px);
  margin-bottom: 17px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @include font(400, 26px, 30px);
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    @include font(400, 30px, 34px);
    margin-bottom: 15px;
  }
}
.footer__title-main {
  font-family: 'Titan One';
  color: $accent-first-color;
  @include font(400, 34px, 39px);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @include font(400, 48px, 55px, 0.06em);
  }
  @media screen and (min-width: 1280px) {
    @include font(400, 58px, 66px, 0.06em);
  }
}

.footer__social-list {
  display: flex;
  justify-content: end;
  margin-bottom: 46px;
  padding-right: 23px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
    padding-right: 121px;
  }
}
.footer__social-item {
  &:not(:last-child) {
    margin-right: 28px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.footer__social-link {
  background-color: $icon-social-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-first-color;
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}
.footer__contacts {
  @media screen and (max-width: 480px) {
    margin-left: auto;
  }
}
.footer__tel {
  display: block;
  padding-bottom: 43px;
  align-items: flex-end;
  color: $accent-first-color;
  padding-right: 23px;
  @include font(700, 12px, 22px);
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @include font(700, 14px, 26px);
  }
  @media screen and (min-width: 1280px) {
    @include font(700, 16px, 30px, 0.02em);
    padding-right: 116px;
  }
}
.footer__contact-tel {
  margin-left: auto;
  text-align: end;
}
.footer__tel-text {
  margin-right: 3px;
  color: $primary-text-color;
}
.footer__line-container {
  width: 100%;
  border-top: 1px solid $line-color;
}
.footer__before-text {
  display: flex;
  text-align: center;
  justify-content: center;
  @include font(700, 14px, 26px, 0.02em);
  color: $secondary-text-color;
  padding-top: 22px;
  padding-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 150px;
    @include font(700, 14px, 21px);
    padding-top: 22px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @include font(700, 14px, 26px, 0.02em);
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    @include font(700, 14px, 26px, 0.02em);
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
