.hidden-title {
  @include hidden();
}
.gallery {
  background: linear-gradient(to bottom, #fff5f6 40%, #fff5f6 5%, #ffffff 5%, #ffffff 50%);
}

// .masonry {
//   /* Masonry container */
//   -webkit-column-count: 4;
//   -moz-column-count: 4;
//   column-count: 4;
//   -webkit-column-gap: 1em;
//   -moz-column-gap: 1em;
//   column-gap: 1em;
//   padding: 0;
//   -moz-column-gap: 1.5em;
//   -webkit-column-gap: 1.5em;
//   column-gap: 1.5em;
//   font-size: 0.85em;
// }
// .item {
//   display: inline-block;
//   background: #fff;
//   margin: 0 0 0.5em;
//   width: 100%;
//   -webkit-transition: 1s ease all;
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-shadow: 2px 2px 4px 0 #ccc;
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover {
//     transform: scale(1.2);
//   }
// }
// .item img {
//   max-width: 100%;
// }

// @media only screen and (max-width: 320px) {
//   .masonry {
//     -moz-column-count: 1;
//     -webkit-column-count: 1;
//     column-count: 1;
//   }
// }

// @media only screen and (min-width: 321px) and (max-width: 768px) {
//   .masonry {
//     -moz-column-count: 2;
//     -webkit-column-count: 2;
//     column-count: 2;
//   }
// }
// @media only screen and (min-width: 769px) and (max-width: 1200px) {
//   .masonry {
//     -moz-column-count: 3;
//     -webkit-column-count: 3;
//     column-count: 3;
//   }
// }
// @media only screen and (min-width: 1201px) {
//   .masonry {
//     -moz-column-count: 4;
//     -webkit-column-count: 4;
//     column-count: 4;
//   }
// }
