.header {
  background-color: $first-background-color;
}

.container.container--head {
  @media screen and (min-width: 1280px) {
    padding-left: 46px;
  }
}

.container--header {
  position: relative;
  z-index: 1;
  padding-top: 6px;
  display: flex;
  justify-content: space-between;

  @media screen and(min-width:768px) {
    padding-top: 38px;
  }
}

.logo {
  opacity: 0;
  animation: slidein-logo 1s forwards;
  animation-delay: 1s;
}

.site-nav {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}

.site-nav__list {
  display: flex;
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.site-nav__link {
  @include font(700, 16px, 21px);
  color: $main-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-first-color;
  }
}

.header__btn {
  display: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: 30px;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(43, 42, 42, 0.14),
      0px 2px 1px rgba(43, 42, 42, 0.14);
  }
}

// menu

.menu-button {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header-btn {
  width: 209px;
  height: 44px;

  background-color: $main-color;
  border-radius: 22px;
  border: none;

  @include font(700, 16px, 21px);
  align-items: center;
  text-align: center;

  color: $accent-first-color;

  @media screen and (min-width: 768px) {
    width: 160px;
  }
}

.header-btn__icon {
  display: inline-block;
  margin-left: 12px;
}

.menu-container__btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 185px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  z-index: 999;

  background-color: $menu-background-color;
  padding-top: 60px;

  display: flex;
  flex-direction: column;

  transform: translateX(200%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 254px;
  }

  & .menu-button {
    position: absolute;
    top: 23px;
    right: 28px;

    @media screen and (min-width: 768px) {
      right: 34px;
    }
  }

  &.is-open {
    transform: translateX(0);
  }
}

.menu__item {
  width: 100%;
  border-top: 1px solid $menu-border-color;
  border-bottom: 1px solid $menu-border-color;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }
}

.menu__link {
  @include font(700, 14px, 18px);
  color: $main-color;
}

.current {
  color: $accent-first-color;
}

// ------------------------------ MODAL----------------------------------------------------------
.backdrop-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden-header {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 21;

  width: 70%;

  padding: 40px;
  padding-top: 60px;
  border-radius: 20px;

  background-color: $first-background-color;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 450px;
  }
}

.is-hidden-header {
  .modal {
    transform: translate(-50%, -50%) scale(0.2);
  }
}

.modal__btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: $button-color;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: $icon-home-color;
    color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(43, 42, 42, 0.14),
      0px 2px 1px rgba(43, 42, 42, 0.14);
  }
}
.modal-title {
  font-family: Titan One;
  font-style: normal;
  @include font($fw: 400, $fs: 20px, $lh: 30px, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  @media screen and (min-width: 768px) {
    @include font($fw: 400, $fs: 25px, $lh: 35px, $ls: 0.04em);
  }

  margin-bottom: 30px;
}

.modal-form__label {
  @include font(700, 14px, 25px);
  font-style: italic;
  margin-bottom: 10px;
  color: $comments-background-color;
}

.modal-form__input {
  display: block;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 3px;
  height: 25px;

  margin-bottom: 15px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    outline: 0ch;
    border-color: $button-hover-first-color;
  }
}

.modal-form__textarea {
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus-within {
    outline: 0ch;
    border-color: $button-hover-first-color;
  }
}

.modal-form-btn {
  display: block;
  margin: 0 auto;

  width: 100px;
  height: 30px;

  background-color: $main-color;
  border-radius: 22px;
  border: none;

  @include font(700, 16px, 21px);
  align-items: center;
  text-align: center;

  color: $accent-first-color;
  transition: background-color 250ms linear, color 250ms linear, border 250ms linear;

  &:hover,
  &:focus {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid $icon-social-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(43, 42, 42, 0.14),
      0px 2px 1px rgba(43, 42, 42, 0.14);
  }

  @media screen and (min-width: 480px) {
    width: 209px;
    height: 44px;
  }
}

// --------------animation logo-----------------------
@keyframes slidein-logo {
  0% {
    margin-top: -100px;
    opacity: 0;
  }
  40% {
    margin-top: -90px;
    opacity: 0;
  }
  65% {
    margin-top: -10px;
    opacity: 1;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
