//title animation
@keyframes slidein {
  0% {
    margin-left: -220px;
    opacity: 0;
  }
  20% {
    margin-left: -220px;
    opacity: 0;
  }
  35% {
    margin-left: 0px;
    opacity: 1;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}
.hero__title-span-one {
  opacity: 0;
  animation: slidein 1s forwards;
  animation-delay: 1s;
}
.hero__title-span-two {
  opacity: 0;
  animation: slidein 1s forwards;
  animation-delay: 1500ms;
}
.hero__title-span-three {
  opacity: 0;
  animation: slidein 1s forwards;
  animation-delay: 2s;
}

//button animation
@keyframes reveal {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.hero-btn__item-animation {
  opacity: 0;
  animation: reveal 1s forwards;
  animation-delay: 2250ms;
}
//pics animation
@keyframes foodTrucksDesktop {
  0% {
    top: -200px;
    opacity: 0;
  }

  100% {
    top: 248px;
    opacity: 1;
  }
}
@keyframes foodTrucksTablet {
  0% {
    top: -200px;
    opacity: 0;
  }

  100% {
    top: 151px;
    opacity: 1;
  }
}
.food-trucks__animation {
  opacity: 0;
  animation: foodTrucksTablet 500ms forwards;
  animation-delay: 2500ms;

  @media screen and (min-width: 1280px) {
    animation: foodTrucksDesktop 500ms forwards;
    animation-delay: 2500ms;
  }
}
@keyframes cafesDesktop {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 156px;
    opacity: 1;
  }
}
@keyframes cafesTablet {
  0% {
    top: -94px;
    opacity: 0;
  }

  100% {
    top: 94px;
    opacity: 1;
  }
}
.cafes__animation {
  opacity: 0;
  animation: cafesTablet 500ms forwards;
  animation-delay: 2750ms;

  @media screen and (min-width: 1280px) {
    animation: cafesDesktop 500ms forwards;
    animation-delay: 2750ms;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes soTastyTablet {
  0% {
    right: -94px;
    opacity: 0;
  }

  100% {
    right: 34px;
    opacity: 1;
  }
}
@keyframes soTastyDesktop {
  0% {
    right: -94px;
    opacity: 0;
  }

  100% {
    right: 109px;
    opacity: 1;
  }
}

.so-tasty__animation {
  opacity: 0;
  animation: soTastyTablet 500ms forwards, shake 0.5s 10;
  animation-delay: 3s;
  @media screen and(min-width: 1280px) {
    animation: soTastyDesktop 500ms forwards, shake 0.5s 10;
    animation-delay: 3s;
  }
}

@keyframes bigEcoTablet {
  0% {
    left: -100px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes bigEcoDesktop {
  0% {
    left: -100px;
    opacity: 0;
  }

  100% {
    left: 77px;
    opacity: 1;
  }
}

.big-eco__animation {
  opacity: 0;
  animation: bigEcoTablet 500ms forwards;
  animation-delay: 3250ms;
  @media screen and(min-width: 1280px) {
    animation: bigEcoDesktop 500ms forwards;
    animation-delay: 3250ms;
  }
}
//Text animation
@keyframes reveal {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.hero-text__animation {
  opacity: 0;
  animation: reveal 500ms forwards;
  animation-delay: 3500ms;
}

//ice-cream animation
@keyframes ice-cream {
  0% {
    opacity: 0;
    transform: scale(250%, 250%);
  }
  25% {
    opacity: 0.25;
    transform: scale(200%, 200%);
  }
  50% {
    opacity: 0.5;
    transform: scale(150%, 150%);
  }
  75% {
    opacity: 0.75;
    transform: scale(100%, 100%);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ice-cream__animation {
  opacity: 0;
  animation: ice-cream 500ms forwards;
  animation-delay: 3.5s;

  @media screen and (min-width: 768px) {
    animation-delay: 3750ms;
  }
}

.ellipse__animation {
  opacity: 0;
  animation: ice-cream 500ms forwards;
  animation-delay: 3.2s;

  @media screen and (min-width: 768px) {
    animation-delay: 3250ms;
  }
}
