.header-hero {
  position: relative;
}
.hero__container {
  position: relative;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;
  }
}
.hero-title__wrapper {
  position: relative;
  z-index: 1;
  min-width: 218px;
  padding-top: 137px;
  padding-bottom: 160px;

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 66px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 84px;
    padding-bottom: 112px;
    padding-left: 115px;
  }
}
.hero__big-eco {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  bottom: 28px;

  @media screen and (min-width: 1280px) {
    bottom: 45px;
    left: 77px;
  }
}
.hero__ellipse {
  position: absolute;
  top: 83px;
  right: 0;

  @media screen and (min-width: 768px) {
    top: 31px;
    right: 137px;
  }

  @media screen and (min-width: 1280px) {
    top: 52px;
    right: 267px;
  }
}
.hero__ice-cream {
  position: absolute;
  bottom: 0;
  right: 32px;

  @media screen and (min-width: 768px) {
    right: 247px;
  }

  @media screen and (min-width: 1280px) {
    right: 450px;
  }
}
.hero__cafes {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  right: 34px;
  top: 94px;

  @media screen and (min-width: 1280px) {
    right: 97px;
    top: 156px;
  }
}
.hero__food-trucks {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  right: 34px;
  top: 151px;

  @media screen and (min-width: 1280px) {
    right: 97px;
    top: 248px;
  }
}
.hero__so-tasty {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  right: 34px;
  bottom: 0;

  @media screen and (min-width: 1280px) {
    right: 109px;
  }
}
.hero__title {
  position: relative;
  z-index: 1;
  color: $main-color;
  margin-bottom: 19px;
  font-family: Titan One, sans-serif;
  @include font(400, 26px, 30px, 0.04em);
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    @include font(400, 22px, 25px, 0.04em);
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 38px, 44px, 0.04em);
    margin-bottom: 25px;
  }
}
.hero__title--mod {
  color: $accent-first-color;
  font-size: 48px;

  @media screen and (min-width: 768px) {
    @include font(400, 34px, 31px, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 58px, 52px, 0.04em);
  }
}
.hero-btn__list {
  display: flex;
}
.hero-btn__item {
  border: none;
  border-radius: 20px;
  background-color: $button-color;
  cursor: pointer;

  padding: 7px 15px;

  display: flex;
  align-items: center;
  text-align: center;

  &:not(:last-child) {
    margin-right: 8px;

    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }
  }
  &:hover,
  &:focus {
    background-color: $button-hover-first-color;
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 18px, 0.04em);
    padding: 11px 20px;
  }
}
.hero-btn__link {
  color: $main-color;
  font-family: DM Sans, sans-serif;
  @include font(400, 8px, 10px, 0.04em);

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 18px, 0.04em);
  }
}
.hero-btn__link--mod {
  color: $button-color;
}
.hero-btn__alt {
  color: $accent-first-color;
  background-color: $main-color;
  &:hover,
  &:focus {
    background-color: $button-hover-second-color;
  }
}
.hero-text__wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }

  width: 114px;
  padding-bottom: 34px;
  margin-left: 120px;

  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-left: 218px;
    padding-bottom: 56px;
  }
}
.hero-text {
  margin-bottom: 7px;
  color: $main-color;
  @include font(400, 8px, 12px, 0.04em);

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 20px, 0.04em);
  }
}
.hero-btn__link {
  display: inline-flex;
  border: none;
  background-color: unset;
  padding: 0;
}
