.hero {
  background-color: $first-background-color;
}
.hero__container {
  // outline: 1px solid black;
  position: relative;
  min-width: 320px;
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 34px;
  }
}
.hero-title__wrapper {
  position: relative;
  min-width: 218px;
  margin-top: 193px;
  margin-bottom: 160px;

  @media screen and (min-width: 768px) {
    margin-top: 102px;
    margin-bottom: 66px;
  }
}
.hero__big-eco {
  position: absolute;

  bottom: 28px;
}
.hero__ellipse {
  position: absolute;
  top: 83px;
  right: 0;

  @media screen and (min-width: 768px) {
    top: 31px;
    right: 137px;
  }
}
.hero__ice-cream {
  position: absolute;
  bottom: 0;
  right: 32px;

  @media screen and (min-width: 768px) {
    right: 247px;
  }
}
.hero__cafes {
  position: absolute;
  right: 34px;
  top: 94px;
}
.hero__food-trucks {
  position: absolute;
  right: 34px;
  top: 151px;
}
.hero__so-tasty {
  position: absolute;
  right: 34px;
  bottom: 0;
}
@media screen and(max-width:767px) {
  .hero__big-eco {
    display: none;
  }
  .hero__cafes {
    display: none;
  }
  .hero__food-trucks {
    display: none;
  }
  .hero__so-tasty {
    display: none;
  }
  .hero-text__wrapper {
    display: none;
  }
}
.hero__title {
  position: relative;
  z-index: 1;
  color: $main-color;
  margin-bottom: 19px;
  font-family: Titan One, sans-serif;
  @include font(400, 26px, 30px, 0.04em);
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    @include font(400, 22px, 25px, 0.04em);
  }
}
.hero__title--mod {
  color: $accent-first-color;
  font-size: 48px;

  @media screen and (min-width: 768px) {
    @include font(400, 34px, 31px, 0.04em);
  }
}
.hero-btn__wrapper {
  display: flex;
}
.hero-btn {
  color: $main-color;
  border: none;
  border-radius: 20px;
  background-color: $button-color;
  cursor: pointer;

  padding: 7px 15px;
  font-family: DM Sans, sans-serif;
  @include font(400, 8px, 10px, 0.04em);
  display: flex;
  align-items: center;
  text-align: center;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:hover,
  &:focus {
    background-color: $button-hover-first-color;
  }
}
.hero-btn__alt {
  color: $accent-first-color;
  background-color: $main-color;
  &:hover,
  &:focus {
    background-color: $button-hover-second-color;
  }
}
.hero-text__wrapper {
  // position: absolute;
  // bottom: 34px;
  // left: 154px;
  width: 114px;
  margin-bottom: 4px;
  margin-left: 120px;
  // outline: 1px solid black;
}
.hero-text {
  margin-bottom: 7px;
  color: $main-color;
  @include font(400, 8px, 12px, 0.04em);
}
.hero-btn__link {
  display: inline-flex;
  border: none;
  background-color: unset;
  padding: 0;
}
