.container {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.products__container {
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 119px;
  }
}

.products__text {
  @include font(400, 18px, 21px);
  font-family: Titan One;
  text-transform: uppercase;
  color: #ffa5ba;
  text-align: center;
  margin-top: 121px;
  @media screen and (min-width: 768px) {
    @include font(400, 26px, 30px);
  }
  @media screen and (min-width: 1280px) {
    @include font(400, 30px, 34px);
  }
}

.products__titel {
  @include font(400, 34px, 39px, 0.04em);
  font-family: Titan One;
  font-style: normal;
  text-transform: uppercase;
  color: #d41443;
  text-align: center;
  margin-top: 15px;
  @media screen and (min-width: 768px) {
    @include font(400, 48px, 55px);
  }
  @media screen and (min-width: 1280px) {
    @include font(400, 58px, 66px);
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    margin-top: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .products__list {
    margin-top: 259px;
  }
}

.products__item {
  position: relative;
  height: 485px;
  width: 100%;
  margin: 0 auto;
  border-radius: 24px;
  padding-top: 161px;
  padding-left: 40px;
  padding-right: 40px;

  @media screen and (min-width: 768px) {
    width: 220px;
    padding-left: 11px;
    padding-right: 11px;
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
    height: 525px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .products__item:not(:first-child) {
    margin-left: 20px;
  }
}

.products__item:first-child {
  margin-top: 144px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.products__item:not(:last-child) {
  margin-bottom: 130px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.products__item--icecream {
  background: #ffb8ca;
}

.products__item--icecream::before {
  background-image: url(../images/mob/home-pic1-1x.png);
  z-index: 10;
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -45%);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mob/home-pic1-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tab/home-pic-tab1-1x.png);
    width: 220px;
    height: 226px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/tab/home-pic-tab1-2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/home-pic-desktop1-1x.png);
    width: 335px;
    height: 335px;
    transform: translate(-50%, -210px);
    padding-top: 163px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/desktop/home-pic-desktop1-2x.png);
  }
}

.products__item--icecoffe {
  background: #f0d1a5;
}

.products__item--icecoffe::before {
  background-image: url(../images/mob/home-pic2-1x.png);
  z-index: 10;
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -45%);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mob/home-pic2-2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/tab/home-pic-tab2-1x.png);
    width: 220px;
    height: 226px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/tab/home-pic-tab2-2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/home-pic-desktop2-1x.png);
    width: 335px;
    height: 335px;
    transform: translate(-50%, -210px);
    padding-top: 163px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/desktop/home-pic-desktop2-2x.png);
  }
}

.products__item--blackcoffe {
  background: #c2e297;
}

.products__item--blackcoffe::before {
  background-image: url(../images/mob/home-pic3-1x.png);
  z-index: 10;
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -45%);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mob/home-pic3-2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/tab/home-pic-tab3-1x.png);
    width: 220px;
    height: 226px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/tab/home-pic-tab3-2x.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/home-pic-desktop3-1x.png);
    width: 335px;
    height: 335px;
    transform: translate(-50%, -210px);
    padding-top: 163px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/desktop/home-pic-desktop3-2x.png);
  }
}

.products__name {
  @include font(400, 20px, 23px, 0.04em);
  font-family: Titan One;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    @include font(400, 20px, 23px);
  }
  @media screen and (min-width: 1280px) {
    @include font(400, 30px, 34px);
  }
}

.products__discription::before {
  background-image: url(../images/points.svg);
  content: '';
  display: block;
  height: 6px;
  width: 26px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 30px;
}

.products__discription--tab::before {
  background-image: url(../images/points.svg);
  content: '';
  display: block;
  height: 6px;
  width: 26px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.products__discription--tab {
  display: none;
  @media screen and (min-width: 768px) {
    width: 198px;
    display: block;
    @include font(700, 14px, 25px, 0.04em);
    font-family: DM Sans;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1280px) {
    @include font(400, 16px, 28px);
    width: 241px;
  }
}

.products__discription {
  @include font(700, 14px, 22px, 0.04em);
  font-family: DM Sans;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  width: 200px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 198px;
    display: none;
  }
}

.products__button {
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow-right.png);
  border: none;
  background-color: transparent;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 62px;
  }
}

.products__button:hover {
  cursor: pointer;
  box-shadow: -1px 9px 37px 4px rgba(18, 118, 195, 0.6);
}

.products__button:active {
  box-shadow: 0px 5px 10px 2px rgba(18, 118, 195, 0.2) inset;
}

.products__item--overlay {
  position: absolute;
  border-radius: 24px;
  top: 0px;
  left: 0;
  padding-top: 180px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  text-align: start;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__item--overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
